.EightBall-interface {
  display: inline-block;
}

.EightBall-sphere {
  height: 200px;
  width: 200px;
  /* background-color: black; */
  border-radius: 50%;
  display: inline-block;
  margin-top: 25%;
}

.EightBall-text {
  margin-top: 45%;
  color: white;
  font-weight: bolder;
}

.EightBall-count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}